{
  "extends": ["eslint:all", "plugin:react/all"],
  "rules": {
    "padded-blocks": 0,
    "arrow-body-style": 0, // Because of multiline return
    "newline-before-return": 0,
    "object-property-newline": 0,
    "no-ternary": 0,
    "prefer-template": 0,
    "sort-keys": 0,
    "object-curly-newline": 0,
    "sort-imports": 0,
    "no-return-assign": 0, // Because of JSX refs
    "no-inline-comments": 0,
    "line-comment-position": 0,
    "max-statements": [1, 20],
    "quotes": [2, "single", "avoid-escape"],
    "indent": [2, 2, {"SwitchCase": 1, "MemberExpression": "off"}],
    "arrow-parens": [2, "as-needed"],
    "max-params": [2, 4],
    "one-var": [2, "never"],
    "space-before-function-paren": [2, "never"],
    "func-style": [2, "declaration"],
    "quote-props": [2, "as-needed"],
    "object-curly-spacing": [2, "always"],
    "no-extra-parens": [2, "functions"],
    "no-magic-numbers": [2, {"ignore": [-1, 0, 1, 2], "ignoreArrayIndexes": true}],
    "dot-location": [2, "property"],
    "max-len": [2, {"code": 130}],
    "multiline-ternary": [2, "never"],
    "no-confusing-arrow": [2, {"allowParens": true}],
    "newline-per-chained-call": [2, {"ignoreChainWithDepth": 4}],
    "global-require": 0,
    "id-length": [2, {"exceptions": ["_"]}],
    "capitalized-comments": 0,
    "strict": 0,
    "array-element-newline": [2, {"minItems": 3}],
    "function-paren-newline": 0,
    "prefer-destructuring": [2, {"AssignmentExpression": {"object": false}}],

    // React
    "react/no-set-state": 0,
    "react/prefer-stateless-function": 0,
    "react/require-optimization": 0,
    "react/prop-types": [2, {"ignore": ["dispatch", "location", "children", "params"]}],
    "react/no-find-dom-node": 0,

    "react/jsx-sort-props": 0,
    "react/jsx-handler-names": 0,
    "react/jsx-no-literals": 0,
    "react/jsx-indent-props": [2, 2],
    "react/jsx-indent": [2, 2],
    "react/jsx-max-props-per-line": [2, {"maximum": 5}],
    "react/jsx-no-bind": [2, {"ignoreRefs": true, "allowArrowFunctions": true}]
  },
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "globals": {
    "React": false,
    "PropTypes": false,
    "_": false,
    "describe": false,
    "it": false,
    "before": false,
    "after": false
  },
  "plugins": [
    "react"
  ]
}
