@import "../../variables";

section.day {
  width: 100%;
  margin: auto;
  background: @darkgrey;
  color: @text;
  border-radius: 5px 5px;
  position: relative;
  margin-bottom: 30px;
  transition: all 0.4s ease-in-out;

  &.disabled {
    opacity: 0.5;
  }

  header {
    height: 50px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;

    div.status {
      width: 20px;
      height: 20px;
      float: left;
      margin-top: 16px;
      margin-left: 16px;
      border-radius: 10px;

      &.written {
        background-color: @green;
      }

      &.not-written {
        background-color: @red;
      }
    }

    h1 {
      line-height: 50px;
      margin: 0;
      margin-left: 52px;
      font-size: 1.2rem;
    }

    &::after {
      content: ' ';
      display: block;
      background-color: @beige;
      width: 96%;
      height: 2px;
      margin-left: 2%;
    }
  }

  div.text, textarea {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 18px;
    min-height: 150px;
    text-align: justify;
  }

  div.text {
    padding: 20px;
  }

  textarea {
    border: 1px dashed @beige; //darken(@back, 5%);
    width: 96%;
    max-width: 96%;
    margin: 2%;
    background-color: darken(@darkgrey, 1%);
    padding: 5px;
    box-sizing: border-box;
    color: @text;

    &:focus {
      outline: none;
    }
  }

  div.actions {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: 16px;
    position: absolute;
    right: 40px;
    bottom: 40px;

    button {
      border: 1px solid @beige;
      background: @beige;
      color: @darkgrey;
      height: 26px;
      width: 26px;
      border-radius: 13px;
      margin-right: 5px;
    }
  }
}