@import "../../variables";

section.daysList {
  width: 100%;
  margin: auto;
  overflow: auto;
  height: 100%;
  padding-left: 30%;
  padding-right: 30%;

  .loader {
    display: block;
    position: fixed;
    margin: auto;
    top: ~"calc(50vh - 100px)";
    left: ~"calc(50% - 100px)";
  }
}
