<link rel="import" href="view-login.html">
<link rel="import" href="view-write.html">

<link rel="import" href="../lib/app-router/app-router.html">
<link rel="import" href="journal-header.html">
        
<polymer-element name="journal-app">
    <template>
        <link rel="stylesheet" href="../css/journal-app.min.css">
        
        <journal-header selected="write" class="{{ {closed: isHeaderHidden} | tokenList }}"></journal-header>
        
        <app-router on-state-change="{{onStateChange}}">
            <app-route path="/login" element="view-login" bindRouter></app-route>
            <app-route path="/write" element="view-write" bindRouter></app-route>
            
            <app-route path="*" redirect="/login"></app-route>
        </app-router>
        
    </template>
    
    <script type="text/javascript">
        (function() {
          Polymer("journal-app", {
            isHeaderHidden: false,
              
            onStateChange: function(event) {
              this.isHeaderHidden = (event.detail.path === '/login');
            }
          });
        })();
    </script>
</polymer-element>
