<link rel="import" href="journal-loginbox.html">

<polymer-element name="view-login" attributes="router">
    <template>
        <link rel="stylesheet" href="../css/view-login.min.css">

        <journal-loginbox on-logged="{{onLogged}}"></journal-loginbox>
    </template>
    
    <script type="text/javascript">
        (function() {
          Polymer("view-login", {
            onLogged: function() {
                this.router.go('/write');
            }
          });
        })();
    </script>
</polymer-element>
