@import "../../variables";

html, body, #app {
  margin: 0;
  height: 100%;
}

#app {
  overflow: hidden;
  background: url('images/noise.png') @beige;
}

.app-container {
  height: 100%;
  overflow: hidden;

  * {
    box-sizing: border-box;
  }
}

::-webkit-scrollbar {
  display: none;
}
